#acceuil.col-md-12.col-sm-12.col-xs-12
  .col-md-offset-2.col-md-4.accueil-title.col-sm-12.col-xs-12
    %h1.first-title
      Transformez vos idées
    %h2.second-title
      en application web
    %p.acceuil-text
      Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat,  vel illum dolore eu feugi
    .accueil-buttons
      = link_to '#lequipe' do
        %button.btn.btn-default.btn-lequipe
          Notre équipe
      = link_to '#contact' do
        %button.btn.btn-default.btn-contact
          Contactez nous
  .col-md-4.accueil-image.col-sm-12.col-xs-12
    = image_tag "Responsive-design.jpg", class: 'img-responsive'

#nos-services.col-md-12.col-sm-12.col-xs-12
  %h1.all-title
    Nos Services
  .col-md-2.col-sm-12.col-xs-12.col-md-offset-1.block
    = image_tag 'pencil.png', class: 'img-circle img-responsive'
    %h3.all-title
      Conception
    %p.service-text
      Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex 
  .col-md-2.col-sm-12.col-xs-12.block
    = image_tag 'icon_repairs.jpg', class: 'img-circle img-responsive'
    %h3.all-title
      UX design
    %p.service-text 
      Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex 
  .col-md-2.col-sm-12.col-xs-12.block
    = image_tag 'pencil.png', class: 'img-circle img-responsive'
    %h3.all-title
      DEVELOPPEMENT
    %p.service-text
      Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex 
  .col-md-2.col-sm-12.col-xs-12.block
    = image_tag 'system-icon.png', class: 'img-circle img-responsive'
    %h3.all-title
      E-Commerce
    %p.service-text
      Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex 

  .col-md-2.col-sm-12.col-xs-12.block
    = image_tag 'pencil.png', class: 'img-circle img-responsive'
    %h3.all-title
      HOSTING & MAINTENANCE
    %p.service-text
      Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex 

#a-propos.col-md-12.col-xs-12.col-sm-12
  %h1.all-title
    A propos
  .col-md-offset-1.col-md-5.col-xs-12.col-sm-12.block
    %h2
      Qualité de travail
    #travail
      #travail-description
        .animate-block
          %p
            Afin d'assurer une durabilité pour nos projets nous régissons notre développement par des tests manuels et automatiques. chaque nouvelle fonctionnalité sera, en premie r lieu,validé par l'ensemble de l'équipe technique. Puis sera dans un second temps soumise à toute une batterie de tests unitaires grâce à un service d'intégration continue. D'autres services comme Codeclimate, nous permettent d'assurer un projet performant solvable
  .col-md-5.col-xs-12.col-sm-12.block
    %h2
      Workflow
    #Workflow
      #work
        .animate-block
          %p
            Notre méthode de travail repose sur les principes des méthodes agiles.
            Lorsque un projet nous parvient, nous travaillons tout d’abord sur l’idée afin d’en sortir une estimation de temps et de budget nécessaire à la réalisation du projet. Nos développeurs délivrent ensuite les différentes fonctionnalités les une après les autres. Cela permet de réellement voir l’avancé d’un projet, et lui donne une liberté sur son évolution. Les nouvelles demandes et modifications de fonctionnalités déjà présentes sont ainsi beaucoup plus simple à intégrer au processus de travail. 


  .col-md-offset-1.col-md-5.col-xs-12.col-sm-12.block
    %h2         
      Transparence
    #transparence
      #transp
        .animate-block
          %p
            Pour permettre une collaboration saine, nous mettons à disposition de nos clients un accès à notre gestionnaire de projet, Trello.
            Il sera en permanence mis à jour pour permettre une vison claire et précise de l’avancé du projet, du temps restant estimé et du temps passé sur chaque fonctionnalité. Afin que le client soit toujours au plus près de l’avancé de son projet, un serveur de développement pourra également être mis en place afin de le tester soit-même. 

  .col-md-5.col-xs-12.col-sm-12.block
    %h2
      Communication
    #communication
      #comm
        .animate-block
          %p
            Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad mini m veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugi


#lequipe.col-md-12.col-xs-12.col-sm-12
  .block
    %h1.all-title
      L'équipe
    %p.masquetext
      lemasqueblabnlalnalnal
      annallanandaodhna
      addbaobdoaoadbo
  .col-md-4.col-xs-12.col-sm-12.block
    .img-profile
      = image_tag 'souley-masque.jpg', class: 'img-circle img-responsive masque-size'
    %h2.all-title
      souleymane le ....
    .description
      %p
        Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt
    .links.btn-group
      = link_to 'facebook' do
        %button.btn.btn-default
          %span F
      = link_to 'twitter' do
        %button.btn.btn-default
          %span T
      = link_to 'linkdin' do
        %button.btn.btn-default
          %span L
      = link_to 'socialman' do
        %button.btn.btn-default
          %span S

  .col-md-4.col-xs-12.col-sm-12.block
    .img-profile
      = image_tag 'souley-masque.jpg', class: 'img-circle img-responsive masque-size'
    %h2.all-title
      alexander le maure
    .description
      Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt
    .links.btn-group
      = link_to 'facebook' do
        %button.btn.btn-default
          %span F
      = link_to 'twitter' do
        %button.btn.btn-default
          %span T
      = link_to 'linkdin' do
        %button.btn.btn-default
          %span L
      = link_to 'socialman' do
        %button.btn.btn-default
          %span S

  .col-md-4.col-xs-12.col-sm-12.block
    .img-profile
      = image_tag 'souley-masque.jpg', class: 'img-circle img-responsive masque-size'
    %h2.all-title
      emannuelle dam van
    .description
      Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt
    .links.btn-group
      = link_to 'facebook' do
        %button.btn.btn-default
          %span F
      = link_to 'twitter' do
        %button.btn.btn-default
          %span T
      = link_to 'linkdin' do
        %button.btn.btn-default
          %span L
      = link_to 'socialman' do
        %button.btn.btn-default
          %span S

#nos-technos.col-md-12.col-xs-12.col-sm-12
  %h1.all-title
    Nos technos
  .col-md-10.col-xs-12.col-sm-12.col-md-offset-1
    .col-md-12.col-xs-12.col-sm-12
      .col-md-3.col-xs-12.col-sm-12.block
        %h2.all-title
          Ruby
        #ruby-block.img-rounded
          #ruby-text
            .animate-block
              %p
                Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugi

      .col-md-3.col-xs-12.col-sm-12.block
        %h2.all-title
          Ruby on Rails
        #rails-block
          #rails-text
            .animate-block
              %p
                Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugi

      .col-md-3.col-xs-12.col-sm-12.block
        %h2.all-title 
          AngularJs
        #angular-block
          #angular-text
            .animate-block
              %p
                Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit invulputate velit esse molestie consequat, vel illum dolore eu feugi
      .col-md-3.col-xs-12.col-sm-12.block
        %h2.all-title
          PostgreSql
        #postgre-block
          #postgre-text
            .animate-block
              %p
                Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit invulputate velit esse molestie consequat, vel illum dolore eu feugi
#contact-us.col-md-12.col-xs-12.col-sm-12
  %h1.all-title
    Nous contacter
  .col-md-offset-1.col-md-5.col-xs-12.col-sm-12.contact-form
    = form_for @contact, class: 'form-group', method: :post, remote: true do |f|
      .form-group
        = f.text_field :username, class: 'form-control', placeholder: 'Nom et Prénom'
      .form-group
        = f.phone_field :phone, class: 'form-control', placeholder: 'Numéro de télephone'
      .form-group
        = f.email_field :email, class: 'form-control', placeholder: 'Email'
      .form-group
        = f.text_area :text, class: 'form-control', placeholder: 'Description '  
      .form-group
        = f.submit 'Envoyer', class: 'btn btn-default'
  .col-md-5.col-xs-12.col-sm-12
    %h2
      Informations
    %p
      Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit invulputate velit esse molestie consequat, vel illum dolore eu feugi
    %p
      %span.glyphicon.glyphicon-map-marker
      15 rue dauphin 75000 paris
    %p
      %span.glyphicon.glyphicon-earphone
      051448 8484 8 848484 848 