.page.col-md-12.col-sm-12.col-xs-12
  %h1.all-title
    Nos Services
  .col-md-5.col-sm-12.col-xs-12.col-md-offset-1.block
    = image_tag 'pencil.png', class: 'img-circle img-responsive'
    %h3.all-title
      Conception
    %p.service-text
      Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex 
  .col-md-5.col-sm-12.col-xs-12.block
    = image_tag 'icon_repairs.jpg', class: 'img-circle img-responsive'
    %h3.all-title
      UX design
    %p.service-text 
      Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex 
  .col-md-5.col-sm-12.col-xs-12.col-md-offset-1.block
    = image_tag 'pencil.png', class: 'img-circle img-responsive'
    %h3.all-title
      DEVELOPPEMENT
    %p.service-text
      Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex 
  .col-md-5.col-sm-12.col-xs-12.block
    = image_tag 'system-icon.png', class: 'img-circle img-responsive'
    %h3.all-title
      E-Commerce
    %p.service-text
      Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex 

  .col-md-5.col-sm-12.col-xs-12.block.col-md-offset-1
    = image_tag 'pencil.png', class: 'img-circle img-responsive'
    %h3.all-title
      HOSTING & MAINTENANCE
    %p.service-text
      Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exer