%h1.all-title
  Nous contacter
.col-md-offset-2.col-md-4.col-xs-12.col-sm-12.contact-form
  = form_for @contact, :class => 'form-group', method: :post, remote: true do |f|
    .form-group
      = f.text_field :username, class: 'form-control', placeholder: 'Nom et Prénom'
    .form-group
      = f.phone_field :phone, class: 'form-control', placeholder: 'Numéro de télephone'
    .form-group
      = f.email_field :email, class: 'form-control', placeholder: 'Email'
    .form-group
      = f.text_area :text, class: 'form-control', placeholder: 'Description '  
    .form-group
      = f.submit 'Envoyer', class: 'btn btn-default'
.col-md-4.col-xs-12.col-sm-12
  %h2
    Informations
  %p
    Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit invulputate velit esse molestie consequat, vel illum dolore eu feugi
  %p
    %span.glyphicon.glyphicon-map-marker
    15 rue dauphin 75000 paris
  %p
    %span.glyphicon.glyphicon-earphone
    051448 8484 8 848484 848 