!!!5
%html
  %head
    %title Qiriqoo
    %base{ href: '/' }
    %meta{ name: 'viewport', content:'width=device-width, initial-scale=1' }
    = stylesheet_link_tag 'application', media: 'all'
    = csrf_meta_tags
  %body
    .navbar.navbar-default.navbar-fixed-top
      .navbar-header
        %button.navbar-toggle.collapsed{"data-target" => "#nav-to-toggle", "data-toggle" => "collapse"}
          %span.sr-only
          %span.icon-bar
          %span.icon-bar
          %span.icon-bar
        .navbar-brand
          = link_to root_path do  
            = image_tag 'logoqiriqoo.jpg',   class: "logoqiriqoo"
      #nav-to-toggle.collapse.navbar-collapse
        %ul.nav.navbar-nav.navbar-right
          %li
            %a.nav-button#home{href: "#acceuil", data: {link: 'acceuil'}} Home
          %li
            %a.nav-button#services{href: "#nos-services", data: {link: 'nos-services'}} Nos services
          %li
            %a.nav-button#propos{href: "#a-propos", data: {link: 'a-propos'}} A propos
          %li
            %a.nav-button#equipe{href: "#lequipe", data: {link: 'lequipe'}} L'équipe
          %li 
            %a.nav-button#technos{href: "#nos-technos", data: {link: 'nos-technos'}} Nos Technos
          %li
            %a.nav-button#contacter{href: "#contact-us", data: {link: 'contact-us'}} Contact

    #acceuil.col-md-12.col-sm-12.col-xs-12
      .col-md-offset-2.col-md-4.accueil-title.col-sm-12.col-xs-12
        %h1.first-title
          Transformez vos idées
        %h2.second-title
          en application web
        %p.acceuil-text
          Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat,  vel illum dolore eu feugi
        .accueil-buttons
          = link_to '#lequipe' do
            %button.btn.btn-default.btn-lequipe
              Notre équipe
          = link_to '#contact' do
            %button.btn.btn-default.btn-contact
              Contactez nous
      .col-md-4.accueil-image.col-sm-12.col-xs-12
        = image_tag "Responsive-design.jpg", class: 'img-responsive'

    #nos-services.col-md-12.col-sm-12.col-xs-12
      %h1.all-title
        Nos Services
      .col-md-4.col-sm-12.col-xs-12.block
        = image_tag 'system-icon.png', class: 'img-circle img-responsive'
        %h2.all-title
          service1ti&title
        %p.service-text
          Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugi
      .col-md-4.col-sm-12.col-xs-12.block
        = image_tag 'icon_repairs.jpg', class: 'img-circle img-responsive'
        %h2.all-title
          service2
        %p.service-text 
          Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugi

      .col-md-4.col-sm-12.col-xs-12.block
        = image_tag 'pencil.png', class: 'img-circle img-responsive'
        %h2.all-title
          service3
        %p.service-text
          Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugi



    #a-propos.col-md-12.col-xs-12.col-sm-12
      %h1.all-title
        A propos
      .row
        .col-md-offset-2.col-md-4.col-xs-12.col-sm-12.block
          %h2
            Qualité de travail
          #travail.img-rounded.img-responsive.projects-img
            #q-taf
              %p
                Afin d'assurer une durabilité pour nos projets nous régissons notre développement par des tests manuels et automatiques. chaque nouvelle fonctionnalité sera, en premier lieu,validé par l'ensemble de l'équipe technique. Puis sera dans un second temps soumise à toute une batterie de tests unitaires grâce à un service d'intégration continue. D'autres services comme Codeclimate, nous permettent d'assurer un projet performant solvable
        .col-md-4.col-xs-12.col-sm-12.block
          %h2
            Workflow
          #Workflow
            #work
              %p
                Notre méthode de travail repose sur les principes des méthodes agiles.
                Lorsque un projet nous parvient, nous travaillons tout d’abord sur l’idée afin d’en sortir une estimation de temps et de budget nécessaire à la réalisation du projet. Nos développeurs délivrent ensuite les différentes fonctionnalités les une après les autres. Cela permet de réellement voir l’avancé d’un projet, et lui donne une liberté sur son évolution. Les nouvelles demandes et modifications de fonctionnalités déjà présentes sont ainsi beaucoup plus simple à intégrer au processus de travail. 


      .row
        .col-md-offset-1.col-md-4.col-xs-12.col-sm-12.block
          %h2         
            Transparence
          #transparence
            #transp
              %p
                Pour permettre une collaboration saine, nous mettons à disposition de nos clients un accès à notre gestionnaire de projet, Trello.
                Il sera en permanence mis à jour pour permettre une vison claire et précise de l’avancé du projet, du temps restant estimé et du temps passé sur chaque fonctionnalité. Afin que le client soit toujours au plus près de l’avancé de son projet, un serveur de développement pourra également être mis en place afin de le tester soit-même. 

        .col-md-4.col-xs-12.col-sm-12.block
          %h2
            Communication
          #communication
            #comm
              %p
                Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugi


    #lequipe.col-md-12.col-xs-12.col-sm-12
      .block
        %h1.all-title
          L'équipe
        %p.masquetext
          lemasqueblabnlalnalnal
          annallanandaodhna
          addbaobdoaoadbo
      .col-md-4.col-xs-12.col-sm-12.block
        .img-profile
          = image_tag 'souley-masque.jpg', class: 'img-circle img-responsive masque-size'
        %h2.all-title
          souleymane le ....
        .description
          %p
            blanlanlalna
        .links

        masque1
      .col-md-4.col-xs-12.col-sm-12.block
        .img-profile
          = image_tag 'souley-masque.jpg', class: 'img-circle img-responsive masque-size'
        %h2.all-title
          alexander le maure
        .description

        .links

        masque2
      .col-md-4.col-xs-12.col-sm-12.block
        .img-profile
          = image_tag 'souley-masque.jpg', class: 'img-circle img-responsive masque-size'
        %h2.all-title
          emannuelle dam van
        .description
          
        .links

        masque3

    #nos-technos.col-md-12.col-xs-12.col-sm-12
      %h1.all-title
        Nos technos
      .col-md-4.col-xs-12.col-sm-12.block
        %h2.all-title
          Ruby
        #ruby-block.img-rounded
          #ruby-text
            %p
              Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugi

      .col-md-4.col-xs-12.col-sm-12.block
        %h2.all-title
          Ruby on Rails
        #rails-block
          #rails-text
            %p
              Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugi

      .col-md-4.col-xs-12.col-sm-12.block
        %h2.all-title
          AgularJs
        #angular-block
          #angular-text
            %p
              Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit invulputate velit esse molestie consequat, vel illum dolore eu feugi


    #contact-us.col-md-12.col-xs-12.col-sm-12
      = flash[:notice]
      = flash[:error]
      = yield


    #footer.col-md-12.col-xs-12.col-sm-12
      powerred by qiriqoo
      
        
    = javascript_include_tag 'application'
