!!!5
%html
  %head
    %title Qiriqoo
    %base{ href: '/' }
    %meta{ name: 'viewport', content:'width=device-width, initial-scale=1' }
    = stylesheet_link_tag 'application', media: 'all'
    = csrf_meta_tags
    %link{rel: "stylesheet", type: "text/css", href: "//cdn.jsdelivr.net/jquery.slick/1.3.15/slick.css"}

  %body
    .navbar.navbar-default.navbar-fixed-top
      .navbar-header
        %button.navbar-toggle.collapsed{"data-target" => "#nav-to-toggle", "data-toggle" => "collapse"}
          %span.sr-only
          %span.icon-bar
          %span.icon-bar
          %span.icon-bar
        .navbar-brand
          = link_to root_path do  
            = image_tag 'logoqiriqoo.jpg',   class: "logoqiriqoo"
      #nav-to-toggle.collapse.navbar-collapse
        %ul.nav.navbar-nav.navbar-right
          %li
            %a.nav-button#home{href: "#acceuil", data: {link: 'acceuil'}} HOME
          %li
            %a.nav-button#services{href: "#nos-services", data: {link: 'nos-services'}} NOS SERVICES
          %li
            %a.nav-button#propos{href: "#a-propos", data: {link: 'a-propos'}} A PROPOS
          %li
            %a.nav-button#equipe{href: "#lequipe", data: {link: 'lequipe'}} L'EQUIPE
          %li 
            %a.nav-button#technos{href: "#nos-technos", data: {link: 'nos-technos'}} NOS TECHNOS
          %li
            %a.nav-button#contacter{href: "#contact-us", data: {link: 'contact-us'}} CONTACT

    = flash[:notice]
    = flash[:error]
    = yield   

    #footer.col-md-12.col-xs-12.col-sm-12
      %p.pull-right
        powerred by qiriqoo
    %script{type: "text/javascript", src: "//cdn.jsdelivr.net/jquery.slick/1.3.15/slick.min.js"}
    %script{type: "text/javascript", src: "assets/javascripts/slick.min.js"}

    = javascript_include_tag 'application'
