!!!5
%html
  %head
    %title Qiriqoo
    %base{ href: '/' }
    %meta{ name: 'viewport', content:'width=device-width, initial-scale=1' }
    = stylesheet_link_tag 'application', media: 'all'
    = csrf_meta_tags
  %body
    .navbar.navbar-default.navbar-fixed-top
      .navbar-header
        %button.navbar-toggle.collapsed{"data-target" => "#nav-to-toggle", "data-toggle" => "collapse"}
          %span.sr-only
          %span.icon-bar
          %span.icon-bar
          %span.icon-bar
        .navbar-brand
          = link_to root_path do  
            = image_tag 'logoqiriqoo.jpg',   class: "logoqiriqoo"
      #nav-to-toggle.collapse.navbar-collapse
        %ul.nav.navbar-nav.navbar-right
          %li
            %a.nav-button#home{href: "#acceuil", data: {link: 'acceuil'}} Home
          %li
            %a.nav-button#services{href: "#nos-services", data: {link: 'nos-services'}} Nos services
          %li
            %a.nav-button#propos{href: "#a-propos", data: {link: 'a-propos'}} A propos
          %li
            %a.nav-button#equipe{href: "#lequipe", data: {link: 'lequipe'}} L'équipe
          %li 
            %a.nav-button#technos{href: "#nos-technos", data: {link: 'nos-technos'}} Nos Technos
          %li
            %a.nav-button#contacter{href: "#contact-us", data: {link: 'contact-us'}} Contact

    = flash[:notice]
    = flash[:error]
    = yield   

    #footer.col-md-12.col-xs-12.col-sm-12
      %h3.all-title
        powerred by qiriqoo
      
        
    = javascript_include_tag 'application'
